* {
    max-width:95%;
}

body {
    background-color:darkcyan;
}

input {
    margin-left: 52%;
}

.delete__btn{
    background-color: red;
    color:white;
    border-radius: 5px;
    border: 5px solid black;
    margin-left:100%;
}

.website__title {
    margin-left:51%;
}

.btn {
    background-color:green;
    border: 2px solid blueviolet;
    margin-left:55%;
}

ul{
    list-style: none;
    align-items:center;
}

p{
    font-size: 20px;
    margin-left:50px;
}

li{
    display: flex;
    border: 5px dashed orangered;
    margin-bottom: 5px;
    justify-content: space-between;
    background-color:gray;
    max-width:100%;
}

li:first-child{
    background-color:orange;
    border:4px dashed violet;
}
 
li:nth-child(2){
    background-color:green;
    border:3px dashed darkgreen;
}

li:nth-child(3){
    background-color: lightblue;
    border:2px dashed darkgreen;
}

li:nth-child(4){
    background-color: darkgreen;
    border:1px dashed lightblue;
}

li:last-child {
    background-color:orange;
    border:5px dashed lightgoldenrodyellow;
}
.completed {
    text-decoration: line-through 5px red;
}



